.Anzeige {display: block !important; }

.VolleHoehe {height: 100px !important; }

.Einblenden {opacity: 1 !important; }

.Eingliedern {display: inline-block !important; }

.Fett {font-size: 1.05em !important;
       font-weight: 700 !important; }

a:hover,
a:focus,
a:active,
.ButtonText:hover,
.ButtonText:focus,
.ButtonText:active,
.LinkText:hover,
.LinkText:focus,
.LinkText:active {cursor: pointer; }

.ButtonText,
.LinkText {position: relative;
           -webkit-box-sizing: border-box;
		       box-sizing: border-box;
           white-space: nowrap; }

.LinkText:after {content: "";
                 position: absolute;
                 left: 0;
                 bottom: 2px;
                 height: 0.5px;
                 background-color: rgb(0, 0, 0);
                 /* background-color: rgb(21, 90, 208); - Blau */
                 width: 0;
								 -webkit-transition: width 0.6s ease;
								 -moz-transition: width 0.6s ease;
								 -o-transition: width 0.6s ease;
								 transition: width 0.6s ease; }

.ButtonText:after {content: "";
                   position: absolute;
                   left: 0;
                   bottom: 1px;
                   height: 1px;
                   background-color: rgb(0, 0, 0);
                   /* background-color: rgb(21, 90, 208); - Blau */
                   width: 0;
                   -webkit-transition: width 0.6s ease;
                   -moz-transition: width 0.6s ease;
                   -o-transition: width 0.6s ease;
                   transition: width 0.6 ease; }

.ButtonText:hover:after,
.ButtonText:focus:after,
.ButtonText:active:after,
.LinkText:hover:after,
.LinkText:focus:after,
.LinkText:active:after {width: 100% !important; }

/* Cursor-Darstellung */
abbr:hover,
abbr:focus,
abbr:active,
.Links:hover,
.Links:focus,
.Links:active,
.Rechts:hover,
.Rechts:focus,
.Rechts:active,
#SendenButton:hover,
#SendenButton:focus,
#SendenButton:active,
#ThemenNavigationRechtliches section li:hover,
#ThemenNavigationRechtliches section li:focus,
#ThemenNavigationRechtliches section li:active,
#ThemenNavigation section[data-popup="Karte"]:hover,
#ThemenNavigation section[data-popup="Karte"]:focus,
#ThemenNavigation section[data-popup="Karte"]:active,
#ThemenNavigation section[data-popup="Steuerung"]:hover,
#ThemenNavigation section[data-popup="Steuerung"]:focus,
#ThemenNavigation section[data-popup="Steuerung"]:active,
#ThemenNavigation section li:hover,
#ThemenNavigation section li:focus,
#ThemenNavigation section li:active,
.KoordinatenMatrix td:hover,
.KoordinatenMatrix td:focus,
.KoordinatenMatrix td:active,
.MatrizenNavigation:hover,
.MatrizenNavigation:focus,
.MatrizenNavigation:active {cursor: pointer; }
