html {font-family: "Roboto", Arial, Helvetica, sans-serif;
      font-size: 0.9em; }

.material-icons {font-size: 1.2em;
                 color: inherit; }

p .material-icons {vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {font-weight: 700;
    margin-bottom: 10px;
    line-height: 1; }

h1 {font-size: 1.8em; }

h2 {font-size: 1.6em; }

h3 {font-size: 1.4em; }

h4 {font-size: 1.3em; }

h5 {font-size: 1.2em; }

h6 {font-size: 1.1em; }

ul,
table,
p {margin-bottom: 10px;
   line-height: 1.4; }

td p,
li p {margin-bottom: 0px; }

p .material-icons {width: auto !important;
                   vertical-align: middle; }

strong {font-size: 1.1em;
        font-weight: 700; }

.Zitat {font-size: 1.4em;
        text-indent: -9px;
        margin-left: 7px;
        margin-bottom: 20px; }

abbr {text-decoration: underline !important;
      text-decoration-style: wavy !important;
      text-decoration-color: rgb(128, 128, 128) !important;
      /* text-decoration-color: rgb(21, 90, 208) !important; - Blau */ }

.Kommentar {color: rgb(128, 128, 128);
            -webkit-transition: color 0.6s ease-in-out;
            -moz-transition: color 0.6s ease-in-out;
            -o-transition: color 0.6s ease-in-out;
            transition: color 0.6s ease-in-out; }

.Kommentar:hover,
.Kommentar:focus,
.Kommentar:active {color: rgb(0, 0, 0); }

section {margin-bottom: 30px; }

hr {border: none;
    background-color: rgb(0, 0, 0);
    height: 1px;
    margin: 40px auto; }

.Halb {width: calc(100% / 2); }

.Drittel {width: calc(100% / 3); }

.Viertel {width: calc(100% / 4); }

/* Scrollbars */
::-webkit-scrollbar {width: 4px; }

::-webkit-scrollbar-track {background-color: rgba(255, 255, 255, 0); }

::-webkit-scrollbar-thumb {background-color: rgb(0, 0, 0);
                           border-radius: 2px; }

/* User-Select */
::selection {background: rgba(255, 255, 255, 0);
						 color: rgb(255, 255, 255); }

::-moz-selection {background: rgba(255, 255, 255, 0);
									color: rgb(255, 255, 255); }
