doctype html

html

head
  meta(name="author" content="André-Pascal Werthwein")
  meta(name="copyright" content="André-Pascal Werthwein")
  meta(name="publisher" content="www.andrewerthwein.de")
  meta(name="title" lang="en" content="Kingdoms of Europe — The Víkingr")
  meta(name="page-topic" lang="en" content="Web Design, Web Development, Navigationsdesign")
  meta(name="audience" lang="en" content="All")
  meta(name="page-type" lang="en" content="Project-Website")
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
  meta(http-equiv="language" content="DE")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
  meta(name="apple-mobile-web-app-title" content="page title")
  meta(name="format-detection" content="telephone=no")
  meta(name="format-detection" content="address=no")
  meta(name="robots" content="index, follow")
  meta(name="revisit-after" content="30 days")
  meta(name="expires" content="never")
  meta(name="allow-search" content="yes")
  meta(name="google" content="nositelinkssearchbox")
  meta(name="googlebot" content="noarchive")
  meta(name="keywords" content="Wikinger, Vikings, Víkingr, Schweden, Norwegen, Dänemark, Sweden, Norway, Denmark, Schwedisch, Norwegisch, Dänisch, Daenisch, Swedish, Dutch, Seefahrer, Krieger, Seafarer, Sea, Ocean, Warrior, Händler, Haendler, Merchant, Axt, Axe, Krieg, War, Raub, Angriff, Attacke, Überfall, Ueberfall, Plünderung, Pluenderung, Robbery, Assault, Attack, Raid, Invasion, Hochschule Mannheim, Mannheim, Fakultät für Gestaltung, Fakultaet fuer Gestaltung, Faculty of Design, Institute of Design, Fak D, Kommunikationsdesign, Communicational Design, Communication Design, Graphic Desig, Grafik Design, VND, Navigationsdesign, Navigational Design, Professor, Veruschka, Götz, Goetz, Web Design, Web Programmierung, Web Development, HTML, CSS, Javascript, Java Script, PHP, Interaction Design, User Experience Design, UX Design, Usability, Norse, Mythologie, Mythology, Myths, Asgard, Midgard, Biförst, Bifroest, Odin, Thor, Loki, Vé, Vili, Yggdrasil, Baldr, Freyja")
  meta(name="description" lang="DE" content="Die thematische Betrachtung des Reiches der Wikinger im Rahmen dieses Projekts ist vielschichtig. Nicht nur setzt sich das Projekt mit dem Aufstieg und Niedergang einer Reiches — wenn man hier von einem solchen sprechen kann — auseinander, sondern setzt auch das ureigene Wesen der Wikinger dem Wesen der nordischen Mythologie gegenüber. Gibt es Parallelen zwischen den Göttern und den Wikingern? Sind die Götter nur eine Projektion des Wikingergeistes? Wer hat wen nach wessen Ebenbild geschaffen?")
  meta(name="description" lang="en" content="The thematic view on the Empire of the Vikings in this project is complex. Not only does the project deal with the Rise and Fall of an Empire — if it even can be called an Empire in this case — but it also exposes the essence of the Vikings to the essence of Norse Mythology. Are there any parallels between the Gods and the Vikings? Are the gods just a projection of the Viking-Spirit? Who made whom on whose likeness?")
  link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
  link(rel="shortcut icon" href="../favicons/favicon.ico")
  link(rel="icon" type="image/png" href="../favicons/favicon_32x32.png" sizes="32x32")
  link(rel="icon" type="image/png" href="../favicons/favicon_96x96.png" sizes="96x96")
  link(rel="apple-touch-icon-precomposed" sizes="57x57" href="../favicons/fallback-touch-icon-57x57-precomposed.png")
  link(rel="apple-touch-icon-precomposed" href="../favicons/fallback-touch-icon-57x57-precomposed.png")
  link(rel="apple-touch-icon-precomposed" sizes="60x60" href="../favicons/universal-touch-icon-60x60-precomposed.png")
  link(rel="apple-touch-icon-precomposed" sizes="72x72" href="../favicons/apple-ipad1-ipad2-ipad-mini-non-retina-ios6-touch-icon-72x72-precomposed.png")
  link(rel="apple-touch-icon-precomposed" sizes="76x76" href="../favicons/apple-ipad1-ipad2-ipad-mini-non-retina-ios7-touch-icon-76x76-precomposed.png")
  link(rel="apple-touch-icon-precomposed" sizes="114x114" href="../favicons/apple-iphone4+-ipod-touch-retina-ios6-touch-icon-114x114-precomposed.png")
  link(rel="apple-touch-icon-precomposed" sizes="120x120" href="../favicons/apple-iphone4+-ipod-touch-retina-ios7-touch-icon-120x120-precomposed.png")
  link(rel="apple-touch-icon-precomposed" sizes="144x144" href="../favicons/apple-ipad-retina-ios6-touch-icon-144x144-precomposed.png")
  link(rel="apple-touch-icon-precomposed" sizes="152x152" href="../favicons/touch-icon-ipad.png")
  link(rel="apple-touch-icon-precomposed" sizes="152x152" href="../favicons/apple-ipad-retina-ios7-touch-icon-152x152-precomposed.png")
  link(rel="apple-touch-icon-precomposed" sizes="167x167" href="../favicons/touch-icon-ipad-retina.png")
  link(rel="apple-touch-icon-precomposed" sizes="180x180" href=".../favicons/apple-touch-icon.png")
  link(rel="shortcut icon" sizes="196x196" href="../favicons/chromeapp-touch-icon-196x196-precomposed.png")
  meta(name="msapplication-TileColor" content="#ffffff")
  meta(name="msapplication-TileImage" content="../favicons/mstile-144x144.png")

  link(rel="stylesheet" href="../css/fonts.min.css")
  link(rel="stylesheet" href="../css/reset.min.css")
  link(rel="stylesheet" href="../css/browser.min.css")
  link(rel="stylesheet" href="../css/typografie.min.css")
  link(rel="stylesheet" href="../css/struktur.min.css")
  link(rel="stylesheet" href="../css/formulare.min.css")
  link(rel="stylesheet" href="../css/animation.min.css")
  link(rel="stylesheet" href="../css/verbote.min.css")

  title Víkingr — Rise and Fall of an Empire

body
  nav#navigation-topics
    section
      i#scrolling-start.material-icons first_page
            
      ul(data-navigation="language")
        li(data-navigation="language") Language
        li(data-navigation="de-de") German
        li(data-navigation="us-en") English

      ul(data-navigation="topic")
        li(data-navigation="topic")
          span.comment [X,&nbsp;Y]&nbsp;
          | Choose a chapter ...
        li
          a(href="./documentation.html" target="_blank" rel="noopener noreferrer")
            span.comment [D,&nbsp;D]&nbsp;
            | Documentation
        li
          a(href="./sources.html" target="_blank" rel="noopener noreferrer nofollow")
            span.comment [Q,&nbsp;Q]&nbsp;
            | Sources
    
    section
    section
  
  //- javascript warning
  marquee#warning-javascript Please activate Java Script for this website, to experience the full functionality.

  div.screen
    div.title-coordinates
      h1 [D,&nbsp;D]
      h2 The Documentation

    div.columns-two
      section.sources-correction
        h4 The Concept

        p Technical and version oriented I documented this project on GitHub. The corresponding GitHub Repository you will find here:&nbsp;
          a.anchor-text(href="https://github.com/AndreWerthwein/vikingr" target="_blank" rel="noopener nofollow noreferrer") Víkingr
          | &nbsp;
          span.comment [GitHub]
          | .

        p Subsequently, you will find real intermediate presentations, which depict and explain different conceptual stages of the project »
          abbr(title="ˈviːkɪŋɐ") Víkingr
          | «.&nbsp;
          span.comment [The presentations are available in German only.]

        div.documents
          section
            p This presentation summarizes the picked topic, as well as first research and is the basis for developing the concept.

            table.table-documents
              thead
              tbody
                tr
                  td
                    p
                      i.material-icons description
                  td 
                    p
                      a.anchor-text(href="../media/dokumentation/20181029.pdf" target="_blank" rel="noopener noreferrer nofollow") The choice of Topic
                      span.comment &nbsp;[2018/10/29]&nbsp;[GER]

            br

            p This presentation depicts the structure as well as the arrangement of contents within the website, using an organizational diagram.

            table.table-documents
              thead
              tbody
                tr
                  td
                    p
                      i.material-icons description
                  td 
                    p
                      a.anchor-text(href="../media/dokumentation/20181105.pdf" target="_blank" rel="noopener noreferrer nofollow") The organizational Diagram
                      span.comment &nbsp;[2018/11/05]&nbsp;[GER]</span>

            br

            p This presentation depicts the composition of content, as well as first detailed Layouts. Furthermore, this presentation contains a first production schedule.

            table.table-documents
              thead
              tbody
                tr
                  td
                    p
                      i.material-icons description
                  td 
                    p
                      a.anchor-text(href="../media/dokumentation/20181126.pdf" target="_blank" rel="noopener noreferrer nofollow") The Composition
                      span.comment &nbsp;[2018/11/26]&nbsp;[GER]
               
            br

            p This presentation depicts the detailed layout of all contents.

            table.table-documents
              thead
              tbody
                tr
                  td
                    p
                      i.material-icons description
                  td 
                    p
                      a.anchor-text(href="../media/dokumentation/20181203.pdf" target="_blank" rel="noopener noreferrer nofollow") The Layout
                      span.comment &nbsp;[2018/12/03]&nbsp;[GER]
                  
            br

            p This presentation shows in detail which tonality should be chosen for the different contents of this project. This presentation also contains a small styleguide for the illustrations used within the project.

            table.table-documents
              thead
              tbody
                tr
                  td
                    p
                      i.material-icons description
                  td 
                    p
                      a.anchor-text(href="../media/dokumentation/20181217.pdf" target="_blank" rel="noopener noreferrer nofollow") The Tonality
                      span.comment &nbsp;[2018/12/17]&nbsp;[GER]
                  
            br

            p This presentation is about the importance of »Responsive Design« and also depicts the translation of the given structure of the »Desktop Design« in to the »Responsive Design«.

            table.table-documents
              thead
              tbody
                tr
                  td
                    p
                      i.material-icons description
                  td 
                    p
                      a.anchor-text(href="../media/dokumentation/20190107.pdf" target="_blank" rel="noopener noreferrer nofollow") The Responsive Design
                      span.comment &nbsp;[2019/01/07]&nbsp;[GER]
                  
            br

            p Here the concluding and documenting Poster-Design can be seen.

            table.table-documents
              thead
              tbody
                tr
                  td
                    p
                      i.material-icons description
                  td 
                    p
                      a.anchor-text(href="../media/dokumentation/poster.pdf" target="_blank" rel="noopener noreferrer nofollow") The Poster
                      span.comment &nbsp;[2019/01/22]&nbsp;[POSTER]
                  
            br

            p This document depicts the Branding and also explains the Grid as well as the content-based structure. Furthermore, this documents explains how the Branding is connected to the Navigation- and Orientation-System of the project.

            table.table-documents
              thead
              tbody
                tr
                  td
                    p
                      i.material-icons description
                  td 
                    p
                      a.anchor-text(href="../media/dokumentation/branding.pdf" target="_blank" rel="noopener noreferrer nofollow") The Branding
                      span.comment &nbsp;[2019/01/22]&nbsp;[BRANDING]
                  
            br

            p This document simply lists all the features, that are part of the project »
              abbr(title="ˈviːkɪŋɐ") Víkingr
              | «. These features include Design, Functionality and also Meta-Features that are part of Website-Configurations, such as »Search Engine Optimizing« and others.

            table.table-documents
              thead
              tbody
                tr
                  td
                    p
                      i.material-icons description
                  td 
                    p
                      a.anchor-text(href="../media/dokumentation/features.pdf" target="_blank" rel="noopener noreferrer nofollow") The Features
                      span.comment &nbsp;[2019/01/22]&nbsp;[FEATURES]&nbsp;[GER]
                      
      section
        h4 The Course & The Project

        p During the winter semester 2018/19 I took part in the course »Navigation Design«, lead by Mrs. Professor Veruschka Götz, at the Hochschule Mannnheim. During the semester this course dealt with different aspects of Navigation and Orientation Systems. Apart from Navigation and Orientation in spaces, the course mainly focused on Navigation and Orientation in digital Media 
          span.comment [Websites, Apps]
          | .

        p Of course this course was not limited to the gain of theoretical knowledge. The knowledge gained in this course was instantly put to use in a complex project under the topic of »Transient Empires«. Within this project I dedicated my work to the topic »Vikings«. For this project I created a website, which not only renders researched information as well as related topics, but also uses a structured and conceptual well-thought-out — but not really uncomplicated — Navigation and Orientation System. The Navigation as well as the Orientation are both based on a restricted and strategically fitted coordinate system. The user is offered a few different options to navigate on the website, such as On-Screen-Navigation, topic-based Navigation as well as a keyboard-based Navigation.

        p Experience the project&nbsp;
          a.anchor-text(href="./index.html") here
          | .

  footer.legal-information
    div
      a(href="./contact.html" target="_blank" rel="noopener noreferrer nofollow") Contact
      a(href="./imprint.html" target="_blank" rel="noopener noreferrer nofollow") Imprint
      a(href="./data-policy.html" target="_blank" rel="noopener noreferrer nofollow") Data Policy

  script(src="../javascript/warnung.js")
  script(src="../javascript/themennavigation.js")
  script(src="../javascript/sprache.js")